@tailwind base;
@tailwind components;
@tailwind utilities;

.light_brown {
    background-color: #cca07c;
}

.home_nav_bar nav {
    @apply 
    bg-amber-900
    flex
    py-4 px-10
    w-full
    items-center
    justify-between
    shadow-md;
    color: #ece4e4;
    
}

.home_nav_bar ul {
    @apply 
    flex
    list-none
    items-center
    space-x-4;
    color: #ece4e4;
}

.home_nav_bar li {
    @apply 
    flex
    list-none
    items-center
    space-x-4;
    color: #ece4e4;
}

.menu-icon {
    @apply flex items-center;
    display: none;
}

@media only screen and (max-width: 600px) {
    .menu-icon {
        display: block
    }

    .home_nav_bar ul {
        display: none;
    }
}


.profile_button {
    @apply flex items-center ml-4;
    display: block;

}

.profile_dropdown {
    position: relative;
}

.profile_dropdown_menu{
    position: absolute;
    right: 0px;
    top: calc(100% + 0.25rem);
    background-color: #eac2ab;
    color: black;
    padding: .75rem;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, .22);
    opacity: 1;
    transition: opacity 150ms ease-in-out;


}

.profile_dropdown > .profile_button:focus + .profile_dropdown_menu {
    opacity: 5;
}

.login_form {
    @apply
    flex
    place-items-center
    justify-center
    rounded-md
    bg-amber-950
}